body{

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/58/75/60/5875602c7cc37a7d3751ea824499e7bf.jpg);
    justify-content: center;
  font-family: sans-serif;
background-size: cover;
overflow: hidden;
}
h2{

    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 34px;
    text-align: center;
    
}
.clock
{

    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(14, 100, 231);
    opacity: 80%;
    color: rgb(255, 253, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background: darkblue;
    opacity: 80%;
}
.clock #ampm{
    
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
 
}